<%= form_for @team, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Team</legend>
       		
    <div class="control-group">
      <%= f.label "Escudo", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :logo, :class => 'file_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :founded, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :founded, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :female, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :female, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :male, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :male, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :university_team, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :university_team, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :university_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :university_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :coach, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :coach, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sponsor, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :sponsor, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :training_info, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :training_info, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :structure_info, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :structure_info, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :players, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :players, :class => 'text_area' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', teams_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
